:root {
  --background: hsl(97, 15%, 90%);
  --text: hsl(201, 35%, 12%);
  --accent: hsl(150, 65%, 20%);

  @media (prefers-color-scheme: dark) {
    --background: hsl(201, 35%, 12%);
    --text: hsl(97, 10%, 85%);
    --accent: hsl(50, 50%, 70%);
  }

  --content-margin: 15%;
  --large-content-margin: 10%;
  --content-little-margin: 4rem;
  --max-content: 850px;
  --max-large-content: calc(var(--max-content) + 100px);
  --text-margin: 0.75em;
  --text-big-margin: 1em;
}

body {
  font-family: "Raveo Variable", Inter, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.25em;
  background: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin-bottom: var(--text-big-margin);
  line-height: 1.25em;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}

p {
  margin-bottom: var(--text-margin);
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: var(--accent);
  &:hover {
  }
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}
li {
  padding-left: 0.5rem;
  margin-bottom: 0.25rem;
}

em {
  font-family: Inter, Arial, sans-serif; /* Remove Raveo because it doesn't support italic */
  font-style: italic;
}

.text {
  padding: var(--content-little-margin) var(--content-margin);
  max-width: var(--max-content);
  margin-left: auto;
  margin-right: auto;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: var(--content-little-margin);
  row-gap: 0;
  padding-right: var(--large-content-margin);
  padding-left: var(--large-content-margin);
  max-width: var(--max-large-content);
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: 850px) {
    grid-template-columns: 1fr 1fr;
  }
  @media only screen and (max-width: 650px) {
    grid-template-columns: 1fr;
    padding-right: var(--content-margin);
    padding-left: var(--content-margin);
    max-width: var(--max-content);
  }
}
