:root {
  --background: #fff;
  --text: #060315;
  --accent: #2c13a8;
  @media (prefers-color-scheme: dark) {
    --background: #222029;
    --text: #d4cdd6;
    --accent: #b1a4f1;
  }
  --content-margin: 15%;
  --large-content-margin: 10%;
  --content-little-margin: 4rem;
  --text-margin: 1rem;
  --text-big-margin: 1.5rem;
}

body {
  font-family: "Raveo Variable", Inter, sans-serif;
  font-size: 20px;
  line-height: 1.25em;
  background: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin-bottom: var(--text-big-margin);
  line-height: 1.25em;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}

p {
  margin-bottom: var(--text-margin);
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: var(--text);
  &:hover {
    color: var(--accent);
  }
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}
li {
  padding-left: 0.5rem;
  margin-bottom: 0.25rem;
}

em {
  font-family: Inter, sans-serif; /* Remove Raveo because it doesn't support italic */
  font-style: italic;
}

.text {
  padding: var(--content-little-margin) var(--content-margin);
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: var(--content-little-margin);
  row-gap: 0;
  margin-right: var(--large-content-margin);
  margin-left: var(--large-content-margin);
  @media only screen and (max-width: 850px) {
    grid-template-columns: 1fr 1fr;
  }
  @media only screen and (max-width: 650px) {
    grid-template-columns: 1fr;
    margin-right: var(--content-margin);
    margin-left: var(--content-margin);
  }
}
